extends layout

block content
    #personalArea.ms-auto.me-auto
        h1 Area personale

        //- form(action='/calendar' method='post')
        //-     .row.mx-0
        //-         .col-lg-6
        //-             label.mt-2 Usarname
        //-             h4.mt-2(style="text-align: left") #{userId}
        //-         .col-lg-6
        //-             label.mt-2(for='current-password') Password
        //-             input#current-password(name='password' type='password' autocomplete='current-password' required='')
        //-             input(type="hidden" name="_csrf" value=csrfToken)
        //-         button.mt-2(type='submit') Sincronizza
        //-     hr

        .row.mt-4
            //- Calendario
            #personalAreaCalendar.col-lg-7
                #calendar
                script.
                    const data = !{jsStringify(cal_events)};
                    document.addEventListener('DOMContentLoaded', function() {
                        new FullCalendar.Calendar(document.getElementById('calendar'), {
                            headerToolbar: {
                                left: 'prev',
                                center: 'title',
                                right: 'next'
                            },
                            footerToolbar: {
                                left: 'today',
                                right: 'dayGridMonth,timeGridWeek,timeGridDay'
                            },
                            events: data
                        }).render();
                    });
            //- Prenotazioni
            #personalAreaReservations.col-lg-5
                .row.mt-3.mx-0(style="height: fit-content")
                    .col-lg-8.pt-2
                        h3 Le tue prenotazioni
                    .col-lg-4.px-0
                        form(action='/reservation' method='get')
                            button(type='submit') Nuova prenotazione

                    table.mt-3
                        tr#personalAreaReservationsTh
                            th.px-2 Dipartimento
                            th.px-2 Tipologia
                            th.px-2 Spazio
                            th.px-2 Posto
                            th.px-2 G/M/A
                            th.px-2 Inizio
                            th.px-2 Fine
                            th.px-2 GoogleCalendar
                            th.px-2 Elimina
                        each res in reservations
                            if (res.value.fields.email == userId)
                                tr#personalAreaReservationsTr
                                    td.px-2(width="fit-content") #{res.value.fields.dep_name}
                                    td.px-2(width="fit-content") #{res.value.fields.typology}
                                    td.px-2(width="fit-content") #{res.value.fields.space_name}
                                    td.px-2(width="fit-content") #{res.value.fields.seat_number}
                                    td.px-2(width="fit-content") #{res.value.fields.start_date.D+'/'+res.value.fields.start_date.M+'/'+(res.value.fields.start_date.Y-2000)}
                                    td.px-2(width="fit-content") #{res.value.fields.start_date.h}:00
                                    td.px-2(width="fit-content") #{res.value.fields.end_date.h}:00
                                    td.px-2(width="fit-content")
                                        form(action='/personalArea/sync_events' method='post')
                                            input(type='hidden' value=access_token name='access_token')
                                            input(type='hidden' value=csrfToken name='_csrf')
                                            input(type='hidden' value=res name='reservation')
                                            if (!(res.value.fields.is_sync))
                                                input.adminButtons(type='submit' value='Sincronizza')
                                            else
                                                input.adminButtons(type='submit' value='Desincronizza')
                                    td.px-2(width="fit-content")
                                        form(method="post" action="/personalArea/rm_res")
                                            input(type="hidden" value=csrfToken                        name="_csrf")
                                            input(type="hidden" value=String(res.id)                   name="res_id")
                                            input(type="hidden" value=String(res.value.fields.seat_id) name="seat_id")
                                            input.adminButtons(type='submit' value="X")
