
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Express</title>
		<link rel="stylesheet" href="/stylesheets/style.css">
		<link rel="stylesheet" href="/stylesheets/login.css">
		<script src="js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="css/bootstrap.min.css"></link>
		<% if(message){ %> 
			<% if(message.type=='danger'){ %> 
				<div class="alert alert-danger alert-dismissible fade show" role="alert">
					<strong><%= message.intro %> </strong> <%= message.message %>
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			<% } else if(message.type=='warning'){ %> 
				<div class="alert alert-warning alert-dismissible fade show" role="alert">
					<strong><%= message.intro %> </strong> <%= message.message %>
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			<% } else { %> 
				<div class="alert alert-info alert-dismissible fade show" role="alert">
					<strong><%= message.intro %> </strong> <%= message.message %>
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>			
			<% } %> 				
		<% } %> 
	</head>
	<body>
		<section class="prompt">
			<h4>Sign up</h4>
			<form action="/signup" method="post">
				<section>
					<label for="username">Username</label>
					<input id="username" name="username" type="text" autocomplete="username" required>
				</section>
				<section>
					<label for="new-password">Password</label>
					<input id="new-password" name="password" type="password" autocomplete="new-password" required>
				</section>
				<section>
					<label for="new-password-confirmation">Password Confirmation</label>
					<input id="new-password-confirmation" name="password_confirmation" type="password" autocomplete="new-password" required>
					<input type="hidden" name="_csrf" value="<%= csrfToken %>">
				</section>
				<button type="submit">Sign up</button>
			</form>
			<hr>
			<p class="help">Already have an account? <a href="/login">Sign in</a></p>
		</section>
	</body>
	 
</html>